<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Contact Us</title>
	<style>
		body {
			background-color: #f4f4f9;
			font-family: Arial, sans-serif;
		}

		.entry-content {
			padding: 20px;
		}

		.wpcmsdev-columns {
			max-width: 1200px;
			margin: 0 auto;
		}

		h1, h2, h3, h4, h5 {
			color: #333;
		}

		.contact-column {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			padding: 20px;
			border-radius: 10px;
		}

			.contact-column:nth-child(odd) {
				background-color: #e3f2fd;
			}

			.contact-column:nth-child(even) {
				background-color: #ffebee;
			}

		.contact-info {
			flex-grow: 1;
		}

		.contact-column img {
			border-radius: 50%;
			width: 100px;
			height: 100px;
		}

		a {
			color: #007bff;
			text-decoration: none;
		}
	</style>
</head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<!-- .entry-header -->
	<div class="entry-content">
		<div class="wpcmsdev-columns">
			<div style="text-align: center;">
				<h2>Super-Visor & Team-Members</h2>
			</div>
			<div class="column column-width-one-half contact-column">
				<div class="contact-info">
					<h4>Doctor/ Naglaa</h4>
					<h5>Doctor-at-FCI</h5>
					<p><a href="mailto:MostafaHamouda@gmail.com">MostafaHamouda@gmail.com</a> ( 01032047426 )</p>
				</div>
				<img src="/Img/costumer1.png" alt="Mostafa Hamouda">
			</div>

			<div class="column column-width-one-half contact-column">
				<div class="contact-info">
					<h5>Mostafa Hamouda</h5>
					<p><a href="mailto:MostafaHamouda@gmail.com">MostafaHamouda@gmail.com</a> ( 01032047426 )</p>
				</div>
				<img src="/Img/costumer3.png" alt="Mostafa Hamouda">
			</div>

			<div class="column column-width-one-half contact-column">
				<div class="contact-info">
					<h5>Mahmoud Shaban</h5>
					<p><a href="mailto:Mahmoud@gmail.com">Mahmoud@gmail.com</a> ( 01032047426 )</p>
				</div>
				<img src="/Img/costumer2.png" alt="Mahmoud Shaban">
			</div>


			<div class="column column-width-one-half contact-column">
				<div class="contact-info">
					<h5>El.Shaimaa Gamal</h5>
					<p><a href="mailto:El.Shaimaa@gmail.com">El.Shaimaa@gmail.com</a> ( 01032047426 )</p>
				</div>
				<img src="/Img/costumer1.png" alt="El.Shaimaa Gamal">
			</div>





			<div class="column column-width-one-half contact-column">
				<div class="contact-info">
					<h5>Ereny Essam</h5>
					<p><a href="mailto:Ereny@gmail.com">Ereny@gmail.com</a> ( 01032047426 )</p>
				</div>
				<img src="/Img/costumer1.png" alt="Ereny Essam">
			</div>

			<div class="column column-width-one-half contact-column">
				<div class="contact-info">
					<h5>Mayar Mohamed</h5>
					<p><a href="mailto:Mayar@gmail.com">Mayar@gmail.com</a> ( 01032047426 )</p>
				</div>
				<img src="/Img/costumer1.png" alt="Mayar Mohamed">
			</div>

			<div class="column column-width-one-half contact-column">
				<div class="contact-info">
					<h5>Nagwa Barakat</h5>
					<p><a href="mailto:Nagwa@gmail.com">Nagwa@gmail.com</a> ( 01032047426 )</p>
				</div>
				<img src="/Img/costumer1.png" alt="Nagwa Barakat">
			</div>

			

			<div class="column column-width-one-half">
			</div>
		</div>
	</div>
	<!-- .entry-content -->
	<script src='~/js/jquery.js'></script>
	<script src='~/js/plugins.js'></script>
	<script src='~/js/scripts.js'></script>
	<script src='~/js/masonry.pkgd.min.js'></script>
	<script src='~/js/validate.js'></script>
</body>
</html>











@* <!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Contact Us</title>


</head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">

	<!-- .entry-header -->
	<div class="entry-content">


		<div class="wpcmsdev-columns">
			<div class="column column-width-one-half">
				<h5>Mostafa Hamouda</h5>
				<p><a href="#">MostafaHamouda@gmail.com          ( 01032047426 )   </a></p>
			</div>

			<div class="column column-width-one-half">
				<h5>Mahmoud Shaban</h5>
				<p><a href="#">Mahmoud@gmail.com          ( 01032047426 )   </a></p>
			</div>

			<div class="column column-width-one-half">
				<h5>Ereny Essam</h5>
				<p><a href="#">Ereny@gmail.com          ( 01032047426 )   </a></p>
			</div>

			<div class="column column-width-one-half">
				<h5>Mayar Mohamed</h5>
				<p><a href="#">Mayar@gmail.com          ( 01032047426 )   </a></p>
			</div>

			<div class="column column-width-one-half">
				<h5>Nagwa Barakat</h5>
				<p><a href="#">Nagwa@gmail.com          ( 01032047426 )   </a></p>
			</div>
			<div class="column column-width-one-half">
				<h5>El.Shaimaa Gamal</h5>
				<p><a href="#">El.Shaimaa@gmail.com          ( 01032047426 )   </a></p>
			</div>






		
			<div class="column column-width-one-half">
			</div>

		</div>
	</div>
	<!-- .entry-content -->
	<script src='~/js/jquery.js'></script>
	<script src='~/js/plugins.js'></script>
	<script src='~/js/scripts.js'></script>
	<script src='~/js/masonry.pkgd.min.js'></script>
	<script src='~/js/validate.js'></script>
</body>
</html> *@