@using Movie_Project.Models;

@model IEnumerable<Movie_Project.Models.Movie>;



@{
    ViewData["Title"] = "Main";
    Layout = "_LayoutForUser";
}
<head>
    <style>
        .form-control {
            border: 0;
            background: none;
            display: inline;
            margin: 5px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 10px 10px;
            width: 100px;
            height: 30px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s
        }

            .form-control:focus {
                width: 300px;
                border-color: #2ecc71
            }

        .control-label {
            color: white
        }

        .btnbtn-primary {
            border: 0;
            background-color: rgba(255,0,0,0);
            display: inline;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
            height: 30px;
            width: 80px;
        }

            .btnbtn-primary:hover {
                background: #2ecc71
            }

        p {
            display: inline
        }

        form {
            display: inline;
            margin-left: 10px
        }
    </style>
</head>

@{
    if (TempData["NameUser"] != null)
    {
        <p><font color="white">Welcome, @TempData["NameUser"]!</font></p><br />
    }
}

<div>
    <form asp-controller="Movie" asp-action="Search" method="post">
        <p>
            <label class="control-label">Name: </label>
            <input class="form-control" name="Title" />
            <input type="submit" value="Search" class="btnbtn-primary" />
        </p>
    </form>
    <form asp-controller="Movie" asp-action="FilterByYear" method="post">
        <p>
            <label class="control-label">Year: </label>
            <input class="form-control" name="YearOfRelease" />
            <input type="submit" value="Filter" class="btnbtn-primary" />
        </p>
    </form>
    <form asp-controller="Movie" asp-action="FilterByGener" method="post">
        <p>
            <label class="control-label">Gener Name: </label>
            <input class="form-control" name="Gener" />
            <input type="submit" value="Filter" class="btnbtn-primary" />
        </p>
    </form>

</div>

<div id="content" class="site-content">
    <div id="primary" class="content-area column full">
        <main id="main" class="site-main">
            <div class="grid portfoliogrid">
                @foreach (var item in Model)
                {
                    <article class="hentry">
                        <header class="entry-header">
                            <div class="entry-thumbnail">
                                <a asp-action="Details" asp-route-id="@item.MovieId">
                                    <img src="~/Img/@item.Image" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="p1">
                                </a>
                                <h2 class="entry-title">
                                    <a asp-action="Details" asp-route-id="@item.MovieId" rel="bookmark">@item.Title</a>
                                </h2>

                            </div>

                        </header>
                    </article>
                }

            </div>
            <!-- .grid -->
            @*
            <nav class="pagination">
            <span class="page-numbers current">1</span>
            <a class="page-numbers" href="#">2</a>
            <a class="next page-numbers" href="#">Next »</a>
            </nav>*@
            <br />

        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
<!-- #content -->

<script src='~/js/jquery.js'></script>
<script src='~/js/plugins.js'></script>
<script src='~/js/scripts.js'></script>
<script src='~/js/masonry.pkgd.min.js'></script>
<script src='~/js/validate.js'></script>


